# Application
web/app/plugins/*
!web/app/plugins/force-regenerate-thumbnails
!web/app/plugins/redux-framework
!web/app/plugins/wp-simple-pay-pro-3
!web/app/plugins/wpforms-lite
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Editor
.idea/*
